<div id="banner">
	<div id="nav_top">
    	<ul>
        	<li><a href="index.php">首页</a></li>
            <li><a href="index.php?p=newsitem&item_id=4">学报简介</a></li>
            <li><a href="index.php?p=category&category_id=23">新闻动态</a></li>
            <li><a href="index.php?p=category&category_id=24">投稿须知</a></li>
            <li><a href="index.php?p=category&category_id=1">期刊浏览</a></li>
	    <li><a href="index.php?p=guestbook">留言</a></li>            
            <li><a href="admin.php">管理入口</a></li>
	    
        </ul>
    </div>
</div> 